*.pyc
build/*
dist/*
.DS_Store
*.dat
*.ncf
# *.txt
src/pykpp/test/*/
*.tsv
*.csv
*.png
docs/build/
docs/source/api/
docs/source/auto_examples/
MANIFEST
MANIFEST.in
pykpp.egg-info
.ipynb_checkpoints
.tox
.coverage
